node_modules
# Logs
logs
*.log
npm-debug.log*


# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Ignore all data files
data/
lib/
.vscode